* {
    margin:0;
    padding:0;
}

body {
    overflow:hidden;
    background:black;
}

body, html {
    width:100%;
    height:100%;
}

.conview {
    display:inline-block;
    width:100%;
    height:100%;
}