* {
margin: 0;
padding: 0;
}

body,
html,
#tractview {
width: 100%;
height: 100%;
overflow: hidden;
font-family: Roboto;
}

.error {
position:relative;
width:100%;
height:100%;
background:black;
color:white;
padding:10px;
font-size:20px;
}
.container {
display:inline-block;
position:relative;
width: 100%;
height: 100%;
padding: 0px;
}

.conview {
width:100%;
height: 100%;
}
.tinybrain {
position:absolute;
pointer-events:none;
left:0;
bottom:0;
}

.controls {
display:inline-block;
position:absolute;
right:0;
top:0;
width:auto;
height:auto;
white-space:nowrap;
font-size:13px;
background:rgba(0, 0, 0, .4);
line-height: 130%;
color: #fff;
padding: 8px;
overflow-x:hidden;
overflow-y:auto;
max-height:100%;
transition: opacity 0.3s;
}
.controls.controls-hidden {
opacity: 0;
}	

/* Hide/Show Vertical Alignment */
.parent {
padding-right:4px;
}
.list-group-item.table {
height:auto !important;
}
.table {
display:table;
height:100%;
margin-bottom:0 !important;
}
.cell {
display:table-cell;
vertical-align:middle;
}

/*
.container_toggles {
display:inline-block;
max-width:500px;
width:auto;
height:auto;
max-height:100%;
padding: 8px;
overflow-y:auto;
overflow-x:hidden;
transition:max-width .5s, opacity .5s, padding .5s;
}
.container_toggles.hidden {
opacity: 0;
}
*/

.nifti_chooser {
padding-left:4px;
display:inline-block;
}

.gamma_input {
max-width: 45px;
}

.plots {
display:none;
width:200px;
height:200px;
}

.nifti_select {
margin-bottom:4px;
}

.upload_div {
color:#999;
margin-bottom:10px;
}

input[type="checkbox"] {
vertical-align:middle;
margin:0;
cursor:pointer;
}

td.label {
text-overflow:ellipsis;
}

tr.row {
opacity:.8;
}
tr.row:hover {
opacity:1;
}
tr.row.active label {
}

.bllogo {
position: absolute;
padding-left: 8px;
padding-top: 8px;
font-size: 23px;
font-family: "Open Sans";
font-weight: bold;
opacity:.2;
color:white;
text-decoration:none;
}

.loading {
position: absolute;
bottom:15px;
left: 100px;
font-size: 16px;
opacity:.2;
color:white;
}

.xyz_input {
max-width:44px;
}

.show_hide_button {
color: white;
font-size:17px;
position:fixed;
top: 0px;
right:0px;
cursor:pointer;
z-index: 10;
padding: 3px;
color: #ddd;
}
.show_hide_button:hover {
background-color: black;
}

